<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <p>Name: <%= restaurant.name %></p>
    <p>Address: <%= restaurant.address %></p>
    <p>Phone: <%= restaurant.phone %></p>
    <% if (restaurant.isOpen) { %>
        <p>Yes, we are Open</p>
    <% }else{%>
        <p>Sorry, we are closed</p>
    <% }%>
</body>
</html>
